<form method="GET" action="{{ path('decklists_list', {type:'find'}) }}"
      role="form">
    <div class="row" style="margin-bottom:1em">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="">Faction</label> <select class="form-control"
                                                              id="faction" name="faction">
                    <option value="">Ignore</option>
                    <option value="bard"{{ faction_b|default('') }}>Bard</option>
                    <option value="cleric"{{ faction_c|default('') }}>Cleric</option>
                    <option value="wizard"{{ faction_z|default('') }}>Wizard</option>
                    <option value="warrior"{{ faction_w|default('') }}>Warrior</option>
                    <option value="thief"{{ faction_t|default('') }}>Thief</option>
                    <option value="ranger"{{ faction_r|default('') }}>Ranger</option>
                    <option value="neutral"{{ faction_n|default('') }}>Neutral</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Cards used</label>
                {{ cards|default('')|raw }}
                <input type="text" class="form-control" id="card" placeholder="Enter card title">
            </div>
            <div class="form-group">
                <label for="">Sort</label> <select class="form-control" id="sort"
                                                   name="sort">
                    <option value="popularity"{{ sort_popularity|default('') }}>by Popularity</option>
                    <option value="date"{{ sort_date|default('') }}>by Date</option>
                    <option value="likes"{{ sort_likes|default('') }}>by Number of Likes</option>
                    <option value="reputation"{{ sort_reputation|default('') }}>by Reputation of Author</option>
                </select>
            </div>
            <div class="form-group">
                <label for="rotation_id">Rotation</label>
                <select class="form-control" id="rotation_id" name="rotation_id">
                    <option value="">Ignore</option>
                    {% for rotation in list_rotations %}
                        <option value="{{ rotation.id }}"{% if rotation.id == rotation_id %} selected="selected"{% endif %}>
                            {{ rotation.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="">Author name</label> <input type="text"
                                                         class="form-control" id="author" name="author"
                                                         placeholder="Enter author name" value="{{ author }}">
            </div>
            <div class="form-group">
                <label for="">Decklist name</label> <input type="text"
                                                           class="form-control" id="title" name="title" value="{{ title }}">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Search</button>
        </div>
        <div class="col-sm-4">
            <p><a data-toggle="collapse" data-target="#allowed_packs" href="#allowed_packs">Select allowed packs</a> (<span id="packs-on">{{ on }}</span> on, <span id="packs-off">{{ off }}</span> off)</p>
            <div id="allowed_packs" class="collapse">
                {% for category in allowed %}
                    <p><small>{{ category.label }}</small></p>
                    {% for pack in category.packs %}
                        <div class="checkbox"><label class="{% if pack.future %}pack-future{% endif %}"><input type="checkbox" name="packs[]" value="{{ pack.id }}" {% if pack.checked %}checked="checked" {% endif %}>{{ pack.label }}</label></div>
                            {% endfor %}
                        {% endfor %}
                <a href="#" id="select_all"><span class="glyphicon glyphicon-ok"></span> all</a>
                / <a href="#" id="select_none"><span class="glyphicon glyphicon-remove"></span> none</a>
            </div>
        </div>
    </div>
</form>
