{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Card Search{% endblock %}

{% block body %}
<div class="container">

<script type="text/javascript">
$(function () {
	$('#faction-select').multiselect({
		buttonWidth: '100%'
	});
})
</script>

<div class="row">

<div class="col-md-4">
    <h2>Browse by set</h2>
	{{ allsets|raw }}

    <h2>Prebuilt Decks</h2>
    <ul>
	{% for prebuilt in prebuilts %}
	<li><a href="{{ path('prebuilt_view',{prebuilt_code:prebuilt.code}) }}">{{ prebuilt.name }}</a></li>
	{% endfor %}
	</ul>
</div>

<div class="col-md-8">

<h1>{{ block('title') }}</h1>
<form method="GET" action="{{ path('cards_processSearchForm') }}" role="form" style="margin-bottom:2em">

<fieldset>
<legend>Title and texts</legend>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
			<label for="q">Title</label>
			<div>
				<div class="input-group">
					<input class="form-control" size="30" id="q" name="q" value="">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" id="filter-text-button"><span class="glyphicon glyphicon-info-sign"></span></button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-sm-12">
		<div class="form-group">
			<label for="x">Text</label>
			<div>
				<input class="form-control" size="40" id="x" name="x" value="">
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>Faction</legend>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label>Faction</label>
			<select name="f[]" id="faction-select" multiple="multiple" class="hidden">
					<option value="wizard">Wizard</option>
					<option value="bard">Bard</option>
					<option value="cleric">Cleric</option>
					<option value="thief">Thief</option>
					<option value="warrior">Warrior</option>
					<option value="neutral">Neutral</option>
					<option value="nofaction">No Faction</option>
			</select>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>Attributes</legend>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
			<label for="e">Set</label>
			<div>
				<select class="form-control" name="e" id="e"><option value="">any</option>{% for pack in packs %}<option value="{{ pack.code }}">{{ pack.name }}</option>{% endfor %}</select>
			</div>
		</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label for="t">Type</label>
			<div>
				<select class="form-control" name="t" id="t"><option value="">any</option>{% for type in types %}<option value="{{ type }}">{{ type }}</option>{% endfor %}</select>
			</div>
		</div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
			<label for="s">Subtype</label>
			<div>
				<select class="form-control" name="s" id="s"><option value="">any</option>{% for keyword in keywords %}<option value="{{ keyword }}">{{ keyword }}</option>{% endfor %}</select>
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>Other</legend>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label for="i">Illustrator</label>
			<div>
				<select class="form-control" name="i" id="i"><option value="">any</option>{% for illustrator in illustrators %}<option value="{{ illustrator }}">{{ illustrator }}</option>{% endfor %}</select>
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>Submit</legend>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
	       {% include 'AppBundle:Search:searchoptions.html.twig' %}
	       <div class="col-sm-4">
		      <button class="btn btn-primary" type="submit">Search</button>
	       </div>
        </div>
     </div>
</div>
</fieldset>
</form>

{% include 'AppBundle:Default:google_adaptable_ad.html.twig' %}

</div>

</div>

</div>
{% endblock %}
